<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bowyer.app.storepreview">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppBaseTheme">
    <activity android:name=".InputActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".PreviewActivity"
        android:theme="@style/AppBaseTheme.NoActionBar"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4e9261e07a2bd522977aa763fbf54a76f2a49f72" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
